.Rproj.user
.Rhistory
.RData
.Ruserdata
*/*_cache
*/*_files
*/*.sh
*/*.sh.*
*/*.csv
*/*~
*~
.DS_Store
*/.Rproj.user
*/.Rhistory
*/.RData
*/.Ruserdata
*/.Rapp.history
*/*.RData
*/*.rda
*/*.html
*/*.pdf
real_data/ESpresso/
real_data/Klein/
real_data/expression_mRNA_17-Aug-2014.txt
real_data/patel/
real_data/retina/
